.insertion-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .insertion-form .button {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  